.main-container{
    padding-top: 20px;
    width: 1440px;
    margin: auto;
}

.forIndex{
    width: 80%;
    font-size: 20px;
    text-align: justify;
    margin: auto;
    margin-bottom: 50px;
}
.headline{
    text-align: center;
}

body {
    color: black;
    background-color: #e9e9e9;
    font-size: 18px;
    font-family: "Roboto Light", sans-serif;
    line-height: 30px;
}
a{
    color: inherit;

}
.picture{
    float:right;
    margin: 20px;
}
.eingabefeld{
    width: 100px;
    height: 100px;
}