<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div  th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <div class="container px-5">
            <a class="navbar-brand" th:href="@{/}">The _Museum</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/exhibits}">Exhibits</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/intern}">Intern</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                    <li sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}">Login</a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li class="nav-item text-white" sec:authorize="isAuthenticated()"><a class="nav-link active">Logged in as: <label sec:authentication="name"></label></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/5.0.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>