<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.0.0/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container px-4 px-lg-5">
    <div class="mx-auto col-md-4 mt-5">
        <div class="card h-100">
            <div class="card-body">
                <div th:if="${param.error}">
                    Invalid username and password.</div>
                <div th:if="${param.logout}">
                    You have been logged out.</div>
                <form th:action="@{/login}" method="post">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="usernameInput">Username</label>
                        <input type="text" name="username" id="usernameInput" class="form-control"/>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="passwordInput">Password</label>
                        <input type="password" name="password" id="passwordInput" class="form-control" />
                    </div>
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-2 mx-auto">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="rememberMeCheckBox"/>
                                <label class="form-check-label" for="rememberMeCheckBox"> Remember me </label>
                            </div>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary btn-block w-75">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>